In [9]:
from bs4 import BeautifulSoup as BS
import requests as req

url = "https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yieldYear&year=2021"

html_text = req.get(url).text
soup = BS(html_text, 'lxml')

In [10]:
import pandas as pd

In [11]:
import os
os.listdir() #This is a way to check the list directory and see all of the files stored.

['.ipynb_checkpoints',
 'Book1.csv',
 'Book1.xlsx',
 'Web_Scraping_Project1.ipynb']

In [12]:
import os
os.listdir()

['.ipynb_checkpoints',
 'Book1.csv',
 'Book1.xlsx',
 'Web_Scraping_Project1.ipynb']

In [13]:
df1 = pd.read_csv("Book1.csv")

In [14]:
display(df1)
df3 = pd.read_excel("Book1.xlsx", sheet_name=0)

   Frank  Lex  Barb
0     23   23    23
1     34   34    43
2     43   34    43

In [23]:
df3 = pd.read_excel("Book1.xlsx", sheet_name=1)

In [25]:
df3

   Franko  Lexo  Barbo
0      12    12     23
1      34  3423     34